<div class="row">
	<div class="col">
		<h5>Calendar</h5>
		<div class="custom-control custom-switch">
			<input type="checkbox" class="custom-control-input" id="calSwitch" name="calSwitch" [(ngModel)]="disableCal">
			<label class="custom-control-label" for="calSwitch">Disable</label>
		</div>
		<ngb-datepicker #dp [(ngModel)]="date" [disabled]="disableCal" [minDate]="min" [maxDate]="max"></ngb-datepicker>
		<p>{{ date | json }}</p>
	</div>
	<div class="col">
		<h5>Time</h5>
		<div class="custom-control custom-switch">
			<input type="checkbox" class="custom-control-input" id="timeSwitch" name="timeSwitch" [(ngModel)]="disableTime">
			<label class="custom-control-label" for="timeSwitch">Disable</label>
		</div>
		<ngb-timepicker [(ngModel)]="time" [readonlyInputs]="disableTime"></ngb-timepicker>
		<ngb-timepicker [(ngModel)]="time" [seconds]="true" [readonlyInputs]="disableTime"></ngb-timepicker>
		<ngb-timepicker [(ngModel)]="time" [meridian]="true" [readonlyInputs]="disableTime"></ngb-timepicker>
		<ngb-timepicker [(ngModel)]="time" [spinners]="false" [readonlyInputs]="disableTime"></ngb-timepicker>
		<p>{{ time | json }}</p>
	</div>
</div>