<div cafe-frame-top></div>
<div class="container-fluid app-content">
	<form id="selector" class="form-inline mt-1 pb-1 border-bottom border-secondary">
		<label class="mr-2">Feature:</label>
		<!-- Thanks I hate it -->
		<select class="form-control" name="modeSelect" [ngModel]="mode" (ngModelChange)="goToView($event)">
			<option *ngFor="let option of modeOptions">{{ option }}</option>
		</select>
	</form>
	<div id="selection">
		<router-outlet></router-outlet>
	</div>
</div>
<app-frame-footer></app-frame-footer>